<head>
</head>
<body>
  <div ng-app="myApp" ng-controller="myController">
      <div>Implement the functions for each of the 3 buttons and display the metrics on the screen each time the corresponding button is clicked, fix any bugs along the way</div>
      <br/>
      <input placeholder="Input an equation" ng-model="input" ng-change="liveUpdate(input)">
      <table>
          <tbody>
          <tr><td><div>The parenthesis are balanced: {{isBalanced}}</div></td><td><button ng-hide="isLiveUpdate" ng-click="isBalanced = getIsBalanced(input)">Check balance</button></td></tr>
          <tr><td><div>The deepest level is: {{deepestLevel}}</div></td><td><button ng-hide="isLiveUpdate" ng-click="deepestLevel = getDeepestLevel(input)">Get depth</button></td></tr>
          <tr><td><div>The answer is: {{answer}}</div></td><td> <button ng-hide="isLiveUpdate" ng-click="answer = getAnswer(input)">Display levels</button></td></tr>
          </tbody>
      </table>
      <br/>
      <div>Extra credit: Uncomment the following line and implement logic that hides the other three buttons and causes the metrics to automatically update as the user types</div>
      <div>Live update: <input type="checkbox" ng-model="isLiveUpdate"></div>
      <div>Extra credit: The getAnswer function should only work for basic math equations</div>
  </div>
  <script src="../node_modules/angular/angular.min.js"></script>
  <script src="buttons.js"></script>
</body>
